version: 2.1

#orbs:
#  codecov: codecov/codecov@1.2.3

jobs:
  build:
    docker:
      - image: cimg/openjdk:11.0
    steps:
      - checkout
      - run:
          name: Build
          command: mvn clean package
      - store_artifacts:
          path: target/site/jacoco-aggregate/index.html
#      - codecov/upload:
#          file: ./target/site/jacoco-aggregate/index.html

workflows:
  build-and-test-project:
    jobs:
      - build
